.gplvc-body {
  font-family: "Overpass", sans-serif;
  margin: 0;
}
.gplvc-body p {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.gplvc-body h1, .gplvc-body h2, .gplvc-body h3, .gplvc-body h4, .gplvc-body h5, .gplvc-body h6 {
  padding: 0px;
  margin: 0px;
}

.gplvc-container {
  width: 1200px;
  margin: 0 auto;
}
.gplvc-container h1 {
  font-size: 40px;
  line-height: 50px;
  color: #607d8b;
  text-align: center;
  margin: 40px 0px 0px;
}

.gplvc-header {
  background: green;
}
.gplvc-header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
}
.gplvc-header .inner .logo a {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}
.gplvc-header .inner .menu ul {
  margin: 0px;
}
.gplvc-header .inner .menu ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
.gplvc-header .inner .menu ul li a {
  text-decoration: none;
  color: #fff;
}

.gplvc-input-area {
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
.gplvc-input-area input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.3411764706);
  box-sizing: border-box;
}
.gplvc-input-area input:focus {
  outline: none;
  box-shadow: none;
}
.gplvc-input-area input::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 26px;
}
.gplvc-input-area input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 26px;
}
.gplvc-input-area .err-msg {
  padding: 10px 20px;
  background: #c10d00;
  color: #fff;
  margin-top: 5px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.gplvc-link-show-area {
  width: 1050px;
  margin: auto;
  padding: 0px;
  border: 1px solid #F6F6F6;
  border-radius: 6px;
}
.gplvc-link-show-area .list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F6F6F6;
  padding: 15px 20px;
  border-radius: 6px 6px 0px 0px;
}
.gplvc-link-show-area .list-header .clear-list a {
  color: white;
  background: #cb3c3c;
  padding: 8px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.gplvc-link-show-area .list-body {
  padding: 20px 20px 0px 20px;
}
.gplvc-link-show-area .list-body .empty-list-message {
  text-align: center;
  padding: 0px 20px 20px 20px;
}
.gplvc-link-show-area .list-body .empty-list-message span {
  font-size: 16px;
}
.gplvc-link-show-area .list-body .empty-list-message i.ri-emotion-sad-line {
  display: block;
  font-size: 30px;
}
.gplvc-link-show-area .link-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
  border: 1px solid rgba(128, 128, 128, 0.2196078431);
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  background: #f6f6f6;
}
.gplvc-link-show-area .link-list .img-area {
  height: auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.gplvc-link-show-area .link-list .img-area a {
  text-decoration: none;
  font-size: 24px;
}
.gplvc-link-show-area .link-list .img-area a.img {
  width: 70px;
  border-radius: 6px;
  height: 70px;
}
.gplvc-link-show-area .link-list .img-area img {
  width: 100%;
  height: 100%;
}
.gplvc-link-show-area .link-list .input-area {
  width: 70%;
  position: relative;
}
.gplvc-link-show-area .link-list .input-area input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.3411764706);
  box-sizing: border-box;
}
.gplvc-link-show-area .link-list .input-area input:focus {
  outline: none;
  box-shadow: none;
}
.gplvc-link-show-area .link-list .input-area img {
  position: absolute;
  width: 20px;
  right: 8px;
  top: 8px;
  background: #f6f6f6;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.3215686275);
}

.gplvc-how-to-use {
  width: 1050px;
  margin: 50px auto 0px;
  padding: 0px;
  border: 1px solid #F6F6F6;
  border-radius: 6px;
}
.gplvc-how-to-use .howtouse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F6F6F6;
  padding: 15px 20px;
  border-radius: 6px 6px 0px 0px;
}
.gplvc-how-to-use .howtouse-body {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */